body {
    background-image: url("pexels-donaldtong94-55787.jpg");
    background-size: cover;
}

#container {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: white;
    margin: 100px;
    padding: 40px 40px 40px 40px;
    flex-direction: row;
    border-radius: 20px;
   
}

hr {
    width: 200px;
    border-color: rgb(254, 254, 254);

}

.text {
    color: rgb(53, 53, 208);
    line-height: 30px;
    font-size: 22px;

}

img {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

button {
    background-color: rgb(105, 197, 233);
    color: whitesmoke;
    transition: 1s;
    border: 0px;
    padding: 20px;
    border-radius: 10px;
    
}

button:hover {
    background-color: white;
    color: rgb(105, 197, 233);
    transform: scale(1.2);
    border: 20px;
    border-color: aqua;
}

.vl{
    width: 1px;
    height: 750px;
    background-color: rgb(199, 193, 193);
}

@media (max-width:500px) {
    body {
        width: 10px;
        height: 10px;
    }
}

p {
    color: gray;
    font-weight: bold;
}
.cost{
    color: blue;
    font-weight: bolder;
    font-size: xx-large;
}
.contents{
    padding: 10px;
    flex: 1;
}